
.RData
.DS_Store
.Rhistory
.Rproj.user
Icon
Icon
Icon
utils/__pycache__/Icon
images/Icon
images/Icon
images/Icon
utils/__pycache__/Icon
images/Icon
plots/Icon
utils/__pycache__/Icon
*.png

utils/__pycache__/Icon
plots/Icon
images/Icon
images/Icon
plots/Icon
utils/__pycache__/Icon
wordclouds/Icon
plots/docs_pres_weighted.png
images/Icon
plots/dictionary&sentiment/Icon
plots/descriptive_analysis/Icon
plots/dictionary&sentiment/Icon
plots/Icon
utils/__pycache__/Icon
wordclouds/Icon
utils/__pycache__/Icon
utils/Icon
nano .gitignore
# Ignore all files named 'Icon' regardless of location
Icon
Icon?
*/Icon
*/Icon?


